<html>

    <head>
        <meta charset="utf-8">
        <title>100元便當</title>

    </head>

    <body>
        <h1>100元便當</h1>
        <ul>
            <li><a href="https://reurl.cc/kd8lrK">蓬萊便當快餐店</a></li>
            <li><a href="https://reurl.cc/pdK66e"> 紅豆食堂</a></li>
            <li><a href="https://reurl.cc/R49vaZ">豪客自助餐</a></li>
            <li><a href="https://reurl.cc/62b5jk">森記快餐</a></li>
            <li><a href="https://reurl.cc/nzlmX8">吉野烤肉飯</a></li>
            <li><a href="https://reurl.cc/0oaEK9">擄胃專家</a></li>
            <li><a href="https://reurl.cc/L3QNKa">香港鴻利燒臘快餐</a></li>
        </ul>
        <p>
            蓬萊便當快餐店
            地址：西屯區文華路139巷19弄16號
            電話：04-24517671
            地圖：https://reurl.cc/kd8lrK
            均價：50
        </p>     
        <p>            
            紅豆食堂
            地址：台中市西屯區文華路122號
            電話：04-24524762
            地圖：https://reurl.cc/pdK66e
            均價：60
        </p>
        <p>            
            豪客自助餐
            地址：台中市西屯區西安街213號
            電話：0927191388
            地圖：https://reurl.cc/R49vaZ
            均價：70
        </p>
        <p>            
            森記快餐
            地址：台中市西屯區西安街200號
            電話：04-27063997
            地圖：https://reurl.cc/62b5jk
            均價：70                        
        </p>
        <p>            
            吉野烤肉飯
            地址：台中市西屯區文華路127巷7號
            電話：04-27071725
            地圖：https://reurl.cc/nzlmX8
            均價：80            
        </p>
        <p>            
            擄胃專家
            地址：台中市西屯區文華路127巷22號
            電話： 04-24519878
            地圖：https://reurl.cc/0oaEK9
            均價：80            
        </p>
        <p>            
            香港鴻利燒臘快餐
            地址：台中市西屯區文華路127巷16號
            電話： 04-24515405
            地圖：https://reurl.cc/L3QNKa
            均價：85            
        </p>
    </body>

</html>