<html>

    <head>
        <meta charset="utf-8">
        <title>200元咖哩料理</title>

    </head>

    <body>
        <h1>200元咖哩料理</h1>
        <ul>
            <li><a href="https://reurl.cc/R49vpz">咖喱魚夫</a></li>
            <li><a href="https://reurl.cc/KkOM7m">野島家咖哩屋</a></li>
        </ul>
        <p>
            咖喱魚夫
            地址：台中市西屯區逢甲路72巷7號
            電話：0424522329
            地圖：https://reurl.cc/R49vpz
            均價：139
        </p>
        <p>
            野島家咖哩屋
            地址：台中市西區中美街450號
            電話：04-23105565
            地圖：https://reurl.cc/KkOM7m
            均價：120
        </p>
    </body>

</html>