<html>

    <head>
        <meta charset="utf-8">
        <title>300元咖哩料理</title>

    </head>

    <body>
        <h1>300元咖哩料理</h1>
        <ul>
            <li><a href="https://reurl.cc/GVGe9d">三畝田</a></li>
            <li><a href="https://reurl.cc/D9bmzN">Mr.38</a></li>
        </ul>
        <p>
            三畝田
            地址：台中市西屯區福星路216號
            地圖：https://reurl.cc/GVGe9d
            均價：220            
        </p>
        <p>
            Mr.38
            地址：台中市西屯區至善路212號
            電話：04-24528188
            地圖：https://reurl.cc/D9bmzN
            均價：280
        </p>
    </body>

</html>