<html>

    <head>
        <meta charset="utf-8">
        <title>主頁目錄</title>

    </head>

    <body>
        <h1>歡迎來到逢甲美食肥宅窩</h1>
        <ul>
            <li><a href="https://reurl.cc/Wd8D3L">隨義煮餐廳</a></li>
            <li><a href="https://reurl.cc/8GbqnX">亞丁尼義式麵屋</a></li>
            <li><a href="https://reurl.cc/QdVWg0">斑馬線義式廚房</a></li>
            <li><a href="https://reurl.cc/vDKknk">村口微光</a></li>
            <li><a href="https://reurl.cc/4RbQpY">HUN 貳</a></li>
            <li><a href="https://reurl.cc/kd8lrK">蓬萊便當快餐店</a></li>
            <li><a href="https://reurl.cc/pdK66e"> 紅豆食堂</a></li>
            <li><a href="https://reurl.cc/R49vaZ">豪客自助餐</a></li>
            <li><a href="https://reurl.cc/62b5jk">森記快餐</a></li>
            <li><a href="https://reurl.cc/nzlmX8">吉野烤肉飯</a></li>
            <li><a href="https://reurl.cc/0oaEK9">擄胃專家</a></li>
            <li><a href="https://reurl.cc/L3QNKa">香港鴻利燒臘快餐</a></li>
            <li><a href="https://reurl.cc/R49vpz">咖喱魚夫</a></li>
            <li><a href="https://reurl.cc/KkOM7m">野島家咖哩屋</a></li>
            <li><a href="https://reurl.cc/GVGe9d">三畝田</a></li>
            <li><a href="https://reurl.cc/D9bmzN">Mr.38</a></li>
            <li><a href="https://reurl.cc/5lb86V">豚將</a></li>
            <li><a href="https://reurl.cc/pdKZj4">日式大阪燒</a></li>
            <li><a href="https://reurl.cc/AqbyeZ">麵屋HIRO</a></li>
            <li><a href="https://reurl.cc/NjNGMq">樂樂和風食堂 (青海店)</a></li>
            <li><a href="https://reurl.cc/62bLO6">長谷川壽司</a></li>
            <li><a href="https://reurl.cc/QdV4nO">朴大哥韓式酒吧</a></li>
            <li><a href="https://reurl.cc/E7bG80">韓式金浦泡菜鍋</a></li>
            <li><a href="https://reurl.cc/arM1l9">韓石館(西屯店)</a></li>
            <li><a href="https://reurl.cc/8Gbqly">三清洞摩西年糕鍋</a></li>
            <li><a href="https://reurl.cc/xZKllE">文華麵攤</a></li>
            <li><a href="https://reurl.cc/R49vvn">逢甲旺伯臭豆腐</a></li>
            <li><a href="https://reurl.cc/O1RVE9">街角麵店</a></li>
            <li><a href="https://reurl.cc/Y1k8EL">泰漾泰式簡餐</a></li>
            <li><a href="https://reurl.cc/pdKL3l">東萫來泰緬雲南料理</a></li>
            <li><a href="https://reurl.cc/7XbR01">巧味越南泰式料理</a></li>
            <li><a href="https://reurl.cc/arM1qY">泰粉味泰國米粉湯專賣店</a></li>
            <li><a href="https://reurl.cc/qdKkV3">曼谷皇朝泰式料理</a></li>
            <li><a href="https://reurl.cc/AqbdRE">全國大腿排</a></li>
            <li><a href="https://reurl.cc/L3QNp7">梅香小吃</a></li>
            <li><a href="https://reurl.cc/exVX6L">巨無霸臭豆腐</a></li>
            <li><a href="https://reurl.cc/qdKkOR">一心素食</a></li>
            <li><a href="https://reurl.cc/d0q722">你家我家滷味</a></li>
            <li><a href="https://reurl.cc/7XbRD9">福星小吃</a></li>
        </ul>
    </body>

</html>