<html>

    <head>
        <meta charset="utf-8">
        <title>200元義式料理</title>

    </head>

    <body>
        <h1>200元義式料理</h1>
        <ul>
            <li><a href="https://reurl.cc/Wd8D3L">隨義煮餐廳</a></li>
            <li><a href="https://reurl.cc/8GbqnX">亞丁尼義式麵屋</a></li>
        </ul>
        <p>
            隨義煮餐廳
            地址 : 台中市西屯區西安街183號
            電話：04-24523023            
            地圖：https://reurl.cc/Wd8D3L
            均價：110
        </p>     
        <p>            
            亞丁尼義式麵屋
            地址：台中市西屯區西安街170號
            電話：04-24529227
            地圖：https://reurl.cc/8GbqnX
            均價：180
        </p>
    </body>

</html>