<html>

    <head>
        <meta charset="utf-8">
        <title>300元義式料理</title>

    </head>

    <body>
        <h1>300元義式料理</h1>
        <ul>
            <li><a href="https://reurl.cc/QdVWg0">斑馬線義式廚房</a></li>
            <li><a href="https://reurl.cc/vDKknk">村口微光</a></li>
            <li><a href="https://reurl.cc/4RbQpY">HUN 貳</a></li>
        </ul>
        <p>
            斑馬線義式廚房
            地址：台中市西屯區文華路127巷5號
            電話：0938821200
            地圖：https://reurl.cc/QdVWg0
            均價：280
        </p>     
        <p>            
            村口微光
            地址：台中市西屯區逢甲路72巷11號
            電話：04-24521688
            地圖：https://reurl.cc/vDKknk
            均價：280
        </p>
        <p>            
            HUN 貳
            地址 : 台中市西屯區文華路217-8號
            電話：04-27085878
            地圖：https://reurl.cc/4RbQpY
            均價：285
        </p>
    </body>

</html>