<html>

    <head>
        <meta charset="utf-8">
        <title>100元日式料理</title>

    </head>

    <body>
        <h1>100元日式料理</h1>
        <ul>
            <li><a href="https://reurl.cc/5lb86V">豚將</a></li>
            <li><a href="https://reurl.cc/pdKZj4">日式大阪燒</a></li>
        </ul>
        <p>
            豚將
            地址：407台中市西屯區西屯路二段269之52號
            地圖：https://reurl.cc/5lb86V
            均價：99
        </p>
        <p>
            日式大阪燒
            地址：台中市西屯區逢甲路20巷14號
            地圖：https://reurl.cc/pdKZj4
            均價：57
        </p>
    </body>

</html>