<html>

    <head>
        <meta charset="utf-8">
        <title>200元日式料理</title>

    </head>

    <body>
        <h1>200元日式料理</h1>
        <ul>
            <li><a href="https://reurl.cc/AqbyeZ">麵屋HIRO</a></li>
            <li><a href="https://reurl.cc/NjNGMq">樂樂和風食堂 (青海店)</a></li>
        </ul>
        <p>
            麵屋HIRO
            地址：台中市西屯區文華路162巷7號
            地圖：https://reurl.cc/AqbyeZ
            均價：160
        </p>
        <p>
            樂樂和風食堂 (青海店)
            地址：台中市西屯區青海路二段246之13號
            電話：04-27076778
            地圖：https://reurl.cc/NjNGMq
            均價：190
        </p>
    </body>

</html>