<html>

    <head>
        <meta charset="utf-8">
        <title>200元韓式料理</title>
    </head>
    <body>
        <h1>200元韓式料理</h1>
        <ul>
            <li><a href="https://reurl.cc/QdV4nO">朴大哥韓式酒吧</a></li>
            <li><a href="https://reurl.cc/E7bG80">韓式金浦泡菜鍋</a></li>
            <li><a href="https://reurl.cc/arM1l9">韓石館(西屯店)</a></li>
        </ul>
        <p>
            朴大哥韓式酒吧
            地址：台中市西屯區逢甲路20巷28弄5號
            電話：0988328178
            地圖：https://reurl.cc/QdV4nO
            均價：174
        </p>
        <p>
            韓式金浦泡菜鍋
            地址：台中市西屯區逢甲路20巷47號
            電話：04-24519684
            地圖：https://reurl.cc/E7bG80
            均價：175
 
        </p>
        <p>
            韓石館(西屯店)
            地址：台中市西屯區至善路153巷1號
            電話：0424528699
            地圖：https://reurl.cc/arM1l9
            均價：116
        </p>
    </body>

</html>