<html>

    <head>
        <meta charset="utf-8">
        <title>100元麵類料理</title>
    </head>
    <body>
        <h1>100元麵類料理</h1>
        <ul>
            <li><a href="https://reurl.cc/xZKllE">文華麵攤</a></li>
            <li><a href="https://reurl.cc/R49vvn">逢甲旺伯臭豆腐</a></li>
            <li><a href="https://reurl.cc/O1RVE9">街角麵店</a></li>
        </ul>
        <p>
            文華麵攤
            地址：台中市西屯區文華路
            地圖：https://reurl.cc/xZKllE
            均價：72
        </p>
        <p>
            逢甲旺伯臭豆腐
            地址：台中市南屯區文華路5巷27號
            電話：04-24513783
            地圖：https://reurl.cc/R49vvn
            均價：40
 
        </p>
        <p>
            街角麵店
            地址：台中市西屯區至善路122號
            電話：0427033549
            地圖：https://reurl.cc/O1RVE9
            均價：50
        </p>
    </body>

</html>




