<html>

    <head>
        <meta charset="utf-8">
        <title>200元東南亞料理</title>

    </head>

    <body>
        <h1>200元東南亞料理</h1>
        <ul>
            <li><a href="https://reurl.cc/Y1k8EL">泰漾泰式簡餐</a></li>
            <li><a href="https://reurl.cc/pdKL3l">東萫來泰緬雲南料理</a></li>
            <li><a href="https://reurl.cc/7XbR01">巧味越南泰式料理</a></li>
            <li><a href="https://reurl.cc/arM1qY">泰粉味泰國米粉湯專賣店</a></li>
            <li><a href="https://reurl.cc/qdKkV3">曼谷皇朝泰式料理</a></li>
        </ul>
        <p>
            泰漾泰式簡餐
            地址：台中市西屯區文華路155巷9號
            地圖：https://reurl.cc/Y1k8EL
            均價：131        
        </p>
        <p>
            東萫來泰緬雲南料理
            地址：台中市西屯區福上巷272號
            地圖：https://reurl.cc/pdKL3l
            均價：140
        </p>
        <p>
            巧味越南泰式料理
            地址：台中市西屯區文華路5巷21號
            電話：04-24512899
            地圖：https://reurl.cc/7XbR01
            均價：120
        </p>
        <p>
            泰粉味泰國米粉湯專賣店
            地址：台中市西區大進街1號
            電話：0925219951
            地圖：https://reurl.cc/arM1qY
            均價：112
        </p>
        <p>
            曼谷皇朝泰式料理
            地址：台中市西區向上路一段400號
            電話：04-2320-6963
            地圖：https://reurl.cc/qdKkV3
            均價：200
        </p>
    </body>

</html>
















