<html>

    <head>
        <meta charset="utf-8">
        <title>100元台灣小吃料理</title>
    </head>
    <body>
        <h1>100元台灣小吃料理</h1>
        <ul>
            <li><a href="https://reurl.cc/AqbdRE">全國大腿排</a></li>
            <li><a href="https://reurl.cc/L3QNp7">梅香小吃</a></li>
            <li><a href="https://reurl.cc/exVX6L">巨無霸臭豆腐</a></li>
            <li><a href="https://reurl.cc/qdKkOR">一心素食</a></li>
            <li><a href="https://reurl.cc/d0q722">你家我家滷味</a></li>
            <li><a href="https://reurl.cc/7XbRD9">福星小吃</a></li>
        </ul>
        <p>
            全國大腿排
            地址：台中市西屯區逢甲路20巷38號(便當街內)
            電話：0985266388
            地圖：https://reurl.cc/AqbdRE
            均價：62
        </p>
        <p>
            梅香小吃
            地址：台中市西屯區逢甲路20巷42號
            電話：04-24514043
            地圖：https://reurl.cc/L3QNp7
            均價：55
 
        </p>
        <p>
            巨無霸臭豆腐
            地址：台中市西屯區文華路53號前
            電話：0922-986816
            地圖：https://reurl.cc/exVX6L
            均價：70
        </p>
        <p>
            一心素食
            地址：台中市西屯區福星路461巷2號
            電話：04-2452-5389
            地圖：https://reurl.cc/qdKkOR
            均價：50
        </p>
        <p>
            你家我家滷味
            地址：台中市西屯區福上巷308號
            電話：0973393161
            地圖：https://reurl.cc/d0q722
            均價：70
        </p>
        <p>
            福星小吃
            地址：台中市西屯區福星路328號
            地圖：https://reurl.cc/7XbRD9
            均價：50
        </p>
    </body>

</html>









